@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    text-align: center;
    background-color: #8248ee;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    color: white;
}

h1 {
    font-weight: 600;
    margin-bottom: 20px;
    
}

#add-task-btn {
    font-size: 24px;
    padding: 15px 30px;
    border: 2px solid #000;
    border-radius: 10px;
    background-color: #2f00ff;
    color: #ffffff;
    cursor: pointer;
    margin-bottom: 20px;
    transition: background-color 0.3s, color 0.3s;
}

#add-task-btn:hover {
    background-color: #00ff08;
    color: #fff;
}

#task-container {
    background-color: #308686;
    padding: 20px;
    border: 4px solid #000;
    border-radius: 10px;
    margin: 20px auto;
    width: 80%;
    max-width: 600px;
    box-shadow: 0 0 10px rgba(167, 159, 159, 0.1);
    font-size: 1.2rem;
}

#task-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.task {
    padding: 10px;
    border-bottom: 1px solid #ccc;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.task:last-child {
    border-bottom: none;
}

.task-checkbox {
    margin-right: 10px;
}

.task-dates {
    font-size: 0.8em;
    color: #ffffff;
    margin-left: 10px;
}

#print-btn {
    margin-top: 30px;
    background-color: blue;
    color: #fff;
    padding: 20px 40px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-size: larger;
}

#print-btn:hover {
    background-color: #35d219;
}

/* Print Styles */
@media print {
    body {
        background-color: #ded24d;
        color: #ffffff;
    }
    #add-task-btn, #print-btn {
        display: none;
    }
    #task-container {
        width: 100%;
        border: 4px solid #000;
        box-shadow: none;
    }
    .task {
        border-bottom: 1px solid #ffffff;
    }
    .task-dates {
        color: #ffffff;
    }
}
